body									{	background: #C1C5AA; margin: 0px; font-family: verdana;}
a, h2									{	color: #035E7B;}
a2, h1									{	color: #002E2C;}
a.footer, td.footer, #footer	{	color: #FAFBEF;}
h1										{	border-bottom: 3px solid #002E2C; padding-bottom: 10px;}
#contentIndex							{ 	display: block;
											max-width: 1500px;
											background: #FAFBEF;
											padding: 10px;
											border: 1px solid #002E2C;
											margin: 0px auto;
											margin-bottom: 200px;
										}
#content								{	display: block;
											max-width: 1000px;
											background: #FAFBEF;
											padding: 10px;
											border: 1px solid #002E2C;
											margin: 0px auto;
											margin-bottom: 200px;
										}
#footer									{	position: fixed;
											left: 0px;right: 0px;bottom: 0px;
											margin-bottom: 0px;
											width: 100%;
											padding: 10px;
											border-top: 1px solid #002E2C;
											background-color: #002E2C;
										}